<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= page === 'Shop' ? 'active':'' %>" href="/">Shop</a>
            </li>
            <li class="main-header__item">
                <a class="<%= page === 'Products' ? 'active':'' %>" href="/products">Products</a>
            </li>
            <li class="main-header__item">
                <a class="<%= page === 'Cart' ? 'active':'' %>" href="/cart">Cart</a>
            </li>
            <li class="main-header__item">
                <a class="<%= page === 'Order' ? 'active':'' %>" href="/order">Order</a>
            </li>
            <li class="main-header__item">
                <a class="<%= page === 'Add Product' ? 'active':'' %>" href="/admin/add-product">Add Product</a>
            </li>
            <li class="main-header__item">
                <a class="<%= page === 'Admin Products' ? 'active':'' %>" href="/admin/products">Admin Products</a>
            </li>
        </ul>
    </nav>
</header>