<%- include('../partials/head.ejs') %>

<link rel="stylesheet" href="/css/product.css">
</head>

<body>

    <%- include('../partials/navigation.ejs') %>

    <main>
        <% if(cart.length > 0) {%>
            <h1>Here is your cart</h1>
            <hr>
            <ul>
                <% cart.forEach(p => {%>
                    <li>
                        <p><%= p.title%> (<%= p.cartItem.quantity%>)</p>
                        <form action="/delete-cart-item" method="POST">
                            <input type="hidden" name="productId" value="<%= p.id%>">
                            <button type="submit" class="btn">Delete</button>
                        </form>
                    </li>
                <%});%>
            </ul>
            <hr>
            <form action="/order" method="post">
                <button type="submit" class="btn">Order Now!</button>
            </form>
        <% } else {%>
            <h1>Sorry! You haven't added any product to your cart yet.</h1>
        <% } %>
    </main>

<%- include('../partials/foot.ejs') %>